version: "3"
services:
  vaultwarden:
    image: vaultwarden/server:latest
    container_name: vaultwarden
    restart: unless-stopped
    ports:
      - "8086:80"
    volumes:
      - ./data:/data
    environment:
      - SIGNUPS_ALLOWED=true
