version: '3'
services:
  silverbullet:
    image: zefhemel/silverbullet:latest
    container_name: silverbullet
    restart: unless-stopped
    ports:
      - "3004:3000"
    volumes:
      - P:/knowledge/silverbullet/space:/space
networks:
  default:
    name: proxion-network
    external: true
