version: '3'
services:
  uptime-kuma:
    image: louislam/uptime-kuma:latest
    container_name: uptime-kuma
    restart: unless-stopped
    ports:
      - "3002:3001"
    volumes:
      - P:/system/monitoring/uptime-kuma:/app/data
networks:
  default:
    name: proxion-network
    external: true
