version: '3'
services:
  readarr:
    image: lscr.io/linuxserver/readarr:develop
    container_name: readarr
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=UTC
    volumes:
      - P:/media/books/config:/config
      - P:/media/books/library:/books
      - P:/downloads/data:/downloads
    ports:
      - "8787:8787"
networks:
  default:
    name: proxion-network
    external: true
