version: '3'
services:
  lidarr:
    image: lscr.io/linuxserver/lidarr:latest
    container_name: lidarr
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=UTC
    volumes:
      - P:/media/lidarr-config:/config
      - P:/media/music:/music
      - P:/downloads/data:/downloads
    ports:
      - "8686:8686"
networks:
  default:
    name: proxion-network
    external: true
