version: "3"
services:
  navidrome:
    image: deluan/navidrome:latest
    container_name: navidrome
    ports:
      - "4533:4533"
    environment:
      # Optional: put your config options here, e.g.:
      ND_SCANSCHEDULE: 1h
      ND_LOGLEVEL: info  
      ND_BASEURL: ""
    restart: unless-stopped
    volumes:
      - "./data:/data"
      - "./music:/music:ro"
