version: '3'
services:
  homeassistant:
    image: ghcr.io/home-assistant/home-assistant:stable
    container_name: homeassistant
    restart: unless-stopped
    privileged: true
    ports:
      - "8123:8123"
    environment:
      - TZ=UTC
    volumes:
      - P:/home/automation/config:/config
      - /run/dbus:/run/dbus:ro
networks:
  default:
    name: proxion-network
    external: true
