version: '3'
services:
  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=UTC
    volumes:
      - P:/media/sonarr-config:/config
      - P:/media/tv:/tv
      - P:/downloads/data:/downloads
    ports:
      - "8989:8989"
networks:
  default:
    name: proxion-network
    external: true
