version: '3'
services:
  calibre-web:
    image: lscr.io/linuxserver/calibre-web:latest
    container_name: calibre-web
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - ./config:/config
      - ./books:/books # Local entry point, will be overridden by FUSE
     # ports:
     #   - 8083:8083 # Handled by Authentik Proxy
    restart: unless-stopped
    networks:
      - proxion-sso

  nginx:
    image: nginx:alpine
    container_name: calibre-nginx
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - 8083:80
    networks:
      - proxion-sso
    restart: unless-stopped
    depends_on:
      - calibre-web

networks:
  proxion-sso:
    external: true
