version: '3'
services:
  calibre-web:
    image: lscr.io/linuxserver/calibre-web:latest
    container_name: calibre-web
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - ./config:/config
      - ./books:/books
    restart: unless-stopped
    networks:
      - proxion-sso

  nginx:
    image: nginx:alpine
    container_name: calibre-nginx
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - 8085:80
    networks:
      - proxion-sso
    restart: unless-stopped
    depends_on:
      - calibre-web

networks:
  proxion-sso:
    external: true
